<app-exibition-item
  [exibition]="exibition"
  [showEditButton]="showEditButton"
  (clicked)="onEditClicked()"
></app-exibition-item>

<div class="row" *ngIf="!edit">
  <div class="col-6" *ngFor="let artworksItem of artworks">
    <div class="card" style="width: 100%; height: 240px; margin: 2px 0px">
      <div class="card-body" class="jedan">
        <div style="padding: 1em">
          <h6 class="card-subtitle mb-2 text-muted">
            {{ artworksItem.title }}, {{ exibition.location.room }}
          </h6>
          <p class="card-text">
            {{ artworksItem.author }}
            <span
              >{{ artworksItem.beginYear }} - {{ artworksItem.endYear }}</span
            >
          </p>
          <p class="card-text">{{ artworksItem.medium }}</p>
        </div>

        <img
          src="http://localhost:3000/image/{{ artworksItem.imageId }}.jpg"
          alt=""
          style="padding: 1.5em 0.5em"
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="edit">
  <div class="row mt-3">
    <div class="col-6">
      <div class="row">
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            id="searchInput"
            placeholder="Author"
            [formControl]="authorControl"
          />
        </div>
        <div class="col-1">
          <button class="btn btn-dark" (click)="onSearchClick()">Search</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-dark float-end" (click)="onDoneClicked()">
        Done
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let art of freeArtworks">
            <td>{{ art.title }}</td>
            <td>{{ art.author }}</td>
            <td>
              <button class="btn btn-dark" (click)="onAddClicked(art)">
                Add
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let art of exibitionArtworks">
            <td>{{ art.title }}</td>
            <td>{{ art.author }}</td>
            <td>
              <button class="btn btn-dark" (click)="onRemoveClicked(art._id)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
